ENVIRONMENT=staging or prod

# Email notifications setup
SENDER_EMAIL=from@mail.com
SENDER_EMAIL_PASSWORD=from_email_psswd
RECEIVER_EMAIL=your_email@mail.com

# Credentials
TAUR_API_KEY=YOUR_API_KEY
TAUR_API_SECRET=YOUR_API_SECRET

# Preferences
USE_FIREBASE=0 or 1
FIREBASE_PROJECT_ID=some-id-1234

NOTIFICATIONS_ENABLED=0 or 1
