ENVIRONMENT=staging or prod

# Email notifications setup
SENDER_EMAIL=from@mail.com
SENDER_EMAIL_PASSWORD=from_email_psswd
RECEIVER_EMAIL=your_email@mail.com

# Credentials
TAUR_API_KEY=YOUR_API_KEY
TAUR_API_SECRET=YOUR_API_SECRET